<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Using Ajax -->
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="path/to/app.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>

<body>

<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
</div>

<div class="container">
    <div class="well well-sm">
        <form id="myAjaxRequestForm">
            <select id="mySelect" onchange="myFunction()">
            <option th:each="cat,iterStat:${category}">
                <p th:text="${cat.name}">Category Title</p>
            </option>
        </select>
            <p id="demo"></p>
        </form>
    </div>
    <!--<script>-->
        <!--function myFunction() {-->
        <!--var x = document.getElementById("mySelect").value;-->
        <!--document.getElementById("demo").innerHTML = "You selected: " + x;}-->
    <!--</script>-->

    <div id="products" class="row list-group">

        <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer :: copy"></div>

</body>
</html>